@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
/* ### Primary */
    /* main background */
    --Very-dark-blue: hsl(233, 47%, 7%);
    /* card background */
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    /* accent */
    --Soft-violet: hsl(277, 64%, 61%);

    /* ### Neutral */
    /* main heading, stats */
    --White: hsl(0, 0%, 100%);
    /* main paragraph */
    --Slightly-transparent-white1: hsla(0, 0%, 100%, 0.75);
    /* stat headings */
    --Slightly-transparent-white2: hsla(0, 0%, 100%, 0.6);

    /*Weigth*/
    --weight-1: 400;
    --weight-2: 700;

    /*BORDER RADIUS*/
    --curve: 0.8rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: var(--White);
    background: var(--Very-dark-blue);
}

.container {
    display: grid;
    grid-template-columns: 1fr 0.96fr;
    background: var(--Dark-desaturated-blue);
    width: 1110px;
    height: 448px;
    margin: 25vh auto;
    border-radius: var(--curve);
}

.leftSide {
    padding: 8vh 4vw 8vh 3vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 3);
}

.title {
    font-weight: var(--weight-2);
    font-size: 2.4rem;
}

span {
    color: var(--Soft-violet);
}

.discover {
    text-transform: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: var(--weight-1);
    font-size: 1rem;
    color: var(--Slightly-transparent-white1);
    padding-right: 5.2rem;
    line-height: 3.5vh;
}

.metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 5.8rem;
}

p {
    text-transform: uppercase;
    color: var(--Slightly-transparent-white2);
    font-weight: var(--weight-1);
    margin-top: 1vh;
    font-size: 0.85rem;
}

.rightSide {
    background: url(../images/image-header-desktop.jpg);
    background-size: cover;
    border-top-right-radius: var(--curve);
    border-bottom-right-radius: var(--curve);
}

.image {
    position: cover;
    width: 100%;
    height: 100%;
    background-color: hsl(277, 71%, 19%);
    opacity: 0.6;
    border-top-right-radius: var(--curve);
    border-bottom-right-radius: var(--curve);
}

@media screen and (max-width: 770px) {
    main {
        height: 920px;
        
    }
    .container {
        height: 790px;
        width: 95vw;
        display: grid;
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.8fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: "rightSide" "leftSide";
        border-radius: var(--curve);
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    .rightSide {
        grid-area: rightSide;
        border-bottom-right-radius: 0;
        border-top-left-radius: var(--curve);
        height: 30vh;
        width: 95vw;
    }

    .image {
        border-top-left-radius: var(--curve);
        border-bottom-right-radius: 0;
    }

    .leftSide {
        display: grid;
        grid-template-rows: 0.8fr 0.6fr 1fr;
        width: 95vw;
        height: 100%;
        padding: 0 20px;
    }
    
    .title {
        text-align: center;
        font-size: 2rem;
    }

    .discover{
        padding: 0;
        margin: 0 3vw;
        display: flex;
        align-items: flex-start;
        text-align: center;
        opacity: 0.8;
        height: fit-content;
    }

    .metrics {
        margin-top: 2vh;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
    }

    .company, .templates, .queries {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8px 0;
    }
    
}



/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */